{{ if .IsPage }}
    <header id="banner">
        <!-- <h2><a href="{{ .Site.BaseURL }}">blog</a> | <a href="{{ .Site.BaseURL }}/posts">posts</a> | <a href="/about/">about</a></h2> -->
        <span><a href="{{ .Site.BaseURL }}">blog</a> | <a href="{{ .Site.BaseURL }}/posts">posts</a> | <a href="https://www.bodunhu.com/">about</a></span>
        <!-- <a href="{{ .Site.BaseURL }}">blog</a> | <a href="/about/">about</a> -->
    </header>
{{ else }}
    <header id="banner">
        <span><a href="{{ .Site.BaseURL }}">blog</a> | <a href="{{ .Site.BaseURL }}/posts">posts</a> | <a href="https://www.bodunhu.com/">about</a></span>
        <!-- <a href="{{ .Site.BaseURL }}">blog</a> | <a href="/about/">about</a> -->
    </header>

    <header style="text-align: center;">
        <h1>{{ .Site.Title }}</h1>
    </header>
{{- end }}
