{{ if .IsPage }}
    <header id="return">
        <h2></h2><a href="{{ .Site.BaseURL }}">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></g></svg>
        </a>
    </header>
{{ else }}
    <header id="banner">
        <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
        <nav>
            <ul>
                {{ range .Site.Menus.main.ByWeight -}}
                <li>
                    {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
                </li>
                {{- end }}
            </ul>
        </nav>
    </header>
{{- end }}
