<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">std::<span style="color:tomato;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">bodun</span>::blog</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
</header>